.add-post
  flex()
  textarea
    &:focus
      border-color: highlight-color
    flex-stretch()
    min-height: line-height * 1.5
    height: line-height * 1.5
    outline: none
    box-sizing: border-box
    border-color: line-color
    resize: none
    padding: line-height * 0.25
    &::-webkit-input-placeholder
      font-size: 10pt
      line-height: line-height
      color: line-color
    border-right: none
  button
    font-size: 10pt
    &::after
      content: "→"
    width: line-height * 1.5
    flex-fixed()
