.add-post
  textarea
    min-height: line-height * 1.5
    height: line-height * 1.5
    resize: none
    padding: line-height * 0.25
    &::-webkit-input-placeholder
      font-size: 10pt
      line-height: line-height
      color: line-color
  button
    width: line-height * 1.5

.add-placeholder
  display: block
  height: line-height * 1.5
  line-height: line-height * 1.5
