flex()
  display: -webkit-flex
  display: flex

flex-vertical()
  flex()
  -webkit-flex-direction: column
  flex-direction: column

flex-fixed()
  -webkit-flex-shrink: 0
  flex-shrink: 0

flex-stretch()
  -webkit-flex-grow: 1
  flex-grow: 1

flex-spaced()
  -webkit-justify-content: space-between
  justify-content: space-between
