*
  margin: 0
  padding: 0
  box-sizing: border-box

button-color = #ccc
line-height = 24px
font = 13pt Helvetica
spacing = line-height * 0.5
indent-size = spacing

body
  padding: line-height

body, textarea
  line-height: line-height
  font: font

quiet()
  color: #888
  font: 10pt Helvetica

textarea
  width: 100%
  min-height: line-height * 1.5
  height: line-height * 1.5
  outline: none
  padding: line-height * 0.25
  box-sizing: border-box

.comment
  quiet()

.post
  > .header
    quiet()
    > a
      color: #888

  > .content
    a.button
      quiet()

code
  font-family: Menlo, Consolas, monospace
  background-color: #ddd

.markdown
  * + p, * + ul, * + pre, * + ol,
  * + h1, * + h2, * + h3, * + h4,
  * + h5, * + h6, * + table
    margin-top: 0.5em
  ul
    padding-left: 1em
    list-style: disc
  li > ul, li > ol
    margin-top: 0
  table
    border-collapse: collapse
    border-spacing: 0
    border: solid 1px #888
    td, th
      padding: 0.5em
      border: solid 1px #888
  pre
    padding: 0.5em
    background-color: #000
    color: #fff
    > code
      background-color: transparent

.children
  background-color: rgba(0, 0, 0, 0.1)
  padding: indent-size
  > .post:not(:first-child)
    margin-top: spacing
