*
  margin: 0
  padding: 0
  box-sizing: border-box

button-color = #ccc
line-height = 20px
font = 13pt Helvetica
spacing = line-height * 0.5
indent-size = spacing

body
  padding: line-height

body, textarea
  line-height: line-height
  font: font

quiet()
  color: #888
  font: 10pt Helvetica

textarea
  width: 100%
  min-height: line-height * 1.5
  height: line-height * 1.5
  outline: none
  padding: line-height * 0.25
  box-sizing: border-box

.comment
  quiet()

.thread
  > .header
    quiet()
    > a
      color: #888

  > .content
    a.button
      quiet()

  > .children
    background-color: rgba(0, 0, 0, 0.1)
    padding: indent-size
    .thread:not(:first-child)
      margin-top: spacing
