> .this-post
  flex()
  > .gutter
    flex-fixed()
    flex-vertical()
    flex-spaced()
    > *
      width: gutter-size
      height: gutter-size
    background-color: code-color
  > .alley
    flex-stretch()
    padding-left: alley-inset

.avatar
  text-align: center
  &::after
    content: "☃"

.toggle-button
  background-color: code-color
  &:hover
    background-color: darken(code-color, 10%)
  &:active
    background-color: darken(code-color, 20%)

.header
  font: 10pt Helvetica
  a
    color: #888
    text-decoration: none
  a:hover
    text-decoration: underline
